{% extends 'base.html' %}

{% block content %}
<div class="center-content">
    <h2 class="cursos">Cursos</h2>

    <table class="styled-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Código</th>
                <th>Créditos</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{task.Nombre}}</td>
                <td>{{task.Codigo}}</td>
                <td>{{task.Creditos}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
